On {{ Data_Acquisition_Time }}, groundwater level in {{ Village }}, {{ District }}, {{ State }} was {{ Groundwater_Level_Quarterly_Manual_meter }} meters.
River: {{ River }}, Basin: {{ Basin }}, Tributary: {{ Tributary }}, Subtributary: {{ Subtributary }}, SubSubtributary: {{ SubSubtributary }}, Local River: {{ Local_River }}.
Latitude: {{ Latitude }}, Longitude: {{ Longitude }}.